<div class="uk-padding">
	<div class="uk-card uk-card-default">
	    <div class="uk-card-header">
	        <div class="uk-grid-small uk-flex-middle" uk-grid>
	            <div class="uk-width-auto">
	                <img class="uk-border-circle" width="40" height="40" src="../../assets/img/avatar-1.jpg">
	            </div>
	            <div class="uk-width-expand">
	                <h3 class="uk-card-title uk-margin-remove-bottom">Email: {{data.email}}</h3>
	                <p class="uk-text-meta uk-margin-remove-top">Name: {{data.name}}</p>
	            </div>
	        </div>
	    </div>
	    <div class="uk-card-body">
	        <p>Comment: {{data.comment}}</p>
	    </div>
	    <div class="uk-card-footer">
	        <p>Phone: {{data.phone}}</p>
	        <p>Province: {{data.province}}</p>
	        <p>Price: {{data.price}}</p>
	    </div>
	</div>
</div>